<%- include('partials/header');%>

    <%if(profesor != null){%>
        <script>
            fnSiHaySesion();
        </script>
    <%}else{%>
        <script>
            fnNoHaySesion();
        </script>
    <%}%>

    <div class="container">
        
        <% if(categorias.length > 0){ %>
        <form action="/consultar" method="POST">
            <h2>Búsqueda de instrumentos</h2>
            <div class="row">
                
                
                <div class="form-group">
                    <input type="categoria" cols="30" name="categoria" placeholder="Ingrese la categoría o concepto del instrumento a buscar" class="form-control" size="53" required>

                    <!--<textarea name="categoria" cols="30" placeholder="Ingrese la categoría o concepto del instrumento a buscar" class="form-control" required></textarea>-->
                </div>
                
                <div class="col-md-4">
                    <input type="submit" value="Buscar" class="btn btn-primary btn-block">
                </div>
            </div>
            
        </form>    
    </div>        
        <% } %>
        <br>
        <% if(instrumentos != null){ %>
        
            <table class="table table-bordered table-hover">   
                <thead>
                    <tr>
                        <th>
                            N°
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th>
                            Categoría
                        </th>
                        <th>
                            Objetivos
                        </th>
                        <th>
                            Propósito
                        </th>
                        <th>
                            Duración
                        </th>
                        <th>
                            Dificultad
                        </th>
                        <th>
                            Materiales
                        </th>
                        <th>
                            Reglas
                        </th>
                        <th>
                            Copceptos
                        </th>
                        <th>
                            Cantidad participantes
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < instrumentos.length; i++) {%>
                        <tr>
                            <th>
                                <form action="/archivosInstrumento" method="POST">
                                    <input type="hidden" name="idInst" value="<%=instrumentos[i]._id%>">
                                    <input type="submit" value="Archivos" class="btn btn-info">
                                </form>
                            </th>
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].nombre%>
                            </td>
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].descripcion%>
                            </td>
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].categoria%>
                            </td>
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].objetivos%>
                            </td> 
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].proposito%>
                            </td> 
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].t_Duracion%>
                            </td>
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].n_Dificultad%>
                            </td>
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].material%>
                            </td>
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].reglas%>
                            </td>  
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].conceptos%>
                            </td>
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].numeroIntegrantes%>
                            </td>                                               
                        </tr>
                    <% } %>
                </tbody>
            </table>    

        <% } %>
<%- include('partials/footer');%>

