
<%- include('partials/header');%>

    <%if(profesor != null){%>
        <script>
            fnSiHaySesion();
        </script>
    <%}else{%>
        <script>
            fnNoHaySesion();
        </script>
    <%}%>

    <% if(mensaje != null) { %>
        <div class="container">
            <div class="alert alert-success">
                <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
                <strong>¡Aviso!</strong><%=mensaje%>
            </div>    
        </div>
        <%mensaje=null%>
    <% } %>
    
    <div class="container">
        <p>El objetivo de esta aplicación es centralizar los instrumentos pedagógicos o actividades lúdicas que utilizan los docentes en diferentes cursos. Esto permitirá que un docente pueda consultar un instrumento ya creado para incorporarlo en sus clases o diseñar un instrumento nuevo para un temática en particular.</p>
    </div>

    <div class="container">
        
        <% if(categorias.length > 0){ %>
        <form action="/consultarInstrumentos" method="POST">
            <h2>Búsqueda de instrumentos</h2>
            <div class="row">
                
                
                <div class="form-group">
                    <input type="categoria" cols="30" name="categoria" placeholder="Ingrese la categoría o concepto del instrumento a buscar" class="form-control" size="53" required>

                    <!--<textarea name="categoria" cols="30" placeholder="Ingrese la categoría o concepto del instrumento a buscar" class="form-control" required></textarea>-->
                </div>
                
                <div class="col-md-4">
                    <input type="submit" value="Buscar" class="btn btn-primary btn-block">
                </div>
            </div>
            
        </form>            
        <% } %>
        <br>
        <% if(instrumentos != null){ %>
        
            <table class="table table-bordered table-hover">   
                <thead>
                    <tr>
                        <th>
                            N°
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Objetivos
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th>
                            Propósito
                        </th>
                        <th>
                            Categoría
                        </th>
                        <th>
                            Duración/Minutos
                        </th>
                        <th>
                            Nivel de dificultad
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < instrumentos.length; i++) {%>
                        <tr>
                            <th>
                                <%= i+1 %>
                            </th>
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].nombre%>
                            </td>
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].objetivos%>
                            </td>
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].descripcion%>
                            </td>
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].proposito%>
                            </td> 
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].categoria%>
                            </td> 
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].t_Duracion%>
                            </td>
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].n_Dificultad%>
                            </td>                                                   
                        </tr>
                    <% } %>
                </tbody>
            </table>    

        <% } %>
    </div>

<%- include('partials/footer');%>

