<%- include('partials/header');%>

    <%if(profesor != null){%>
        <script>
            fnSiHaySesion();
        </script>
    <%}else{%>
        <script>
            fnNoHaySesion();
        </script>
    <%}%>

<script type="text/javascript">
    function fnValidarCampos(){
        var continuar = true;
        if(document.forms[0].nombre.value == ''){
            continuar = false;
            document.forms[0].nombre.style="border: 2px solid red;";
        }
        if(document.forms[0].descripcion.value == ''){
            continuar = false;
            document.forms[0].descripcion.style="border: 2px solid red;";
        }
        if(document.forms[0].categoria.value == 0){
            continuar = false;
            document.forms[0].categoria.style="border: 2px solid red;";
        }
        if(document.forms[0].objetivos.value == ''){
            continuar = false;
            document.forms[0].objetivos.style="border: 2px solid red;";
        }
        if(document.forms[0].proposito.value == ''){
            continuar = false;
            document.forms[0].proposito.style="border: 2px solid red;";
        }
        if(document.forms[0].t_Duracion.value == 0){
            continuar = false;
            document.forms[0].t_Duracion.style="border: 2px solid red;";
        }
        if(document.forms[0].n_Dificultad.value == 0){
            continuar = false;
            document.forms[0].n_Dificultad.style="border: 2px solid red;";
        }     
        
        if(document.forms[0].materiales.value == 0){
            continuar = false;
            document.forms[0].materiales.style="border: 2px solid red;";
        }     

        if(continuar){
            document.forms[0].submit;
            alert('Información completa. Instrumento creado'); 
        }else{
            alert('Faltan campos por llenar.');           
        }
    }
</script>

<div class="container">
    <div class="row">
        <!-- FORMULARIO NUEVO INSTRUMENTO -->
        <div class="col-md-5">
            <h2>Nuevo Instrumento</h2>            
            <div class="card">
                <div class="card-body">
                    <form action="/crearInstrumento" method="POST" id="crearInstrumento">
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Nombre del intrumento" class="form-control" required>
                        </div>                        
                        <div class="form-group">
                            <textarea name="descripcion" cols="30" placeholder="Descripción del instrumento" class="form-control" title="Aqui puede añadir las reglas de la actividad." required></textarea>
                        </div>
                        
                        <div class="form-group">
                            <select name="categoria" class="form-control" required>
                                <option value="">Categoria ...</option>
                                <% for(var i = 0; i < categorias.length; i++){ %>
                                    <option value="<%=categorias[i].nombre%>"><%=categorias[i].nombre%></option>
                                <% } %>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <textarea name="objetivos" cols="30" placeholder="Objetivos de aprendizaje" class="form-control" required></textarea>
                        </div>
                         
                        <div class="form-group">
                            <textarea name="proposito" cols="30" placeholder="Proposito del instrumento" class="form-control" required></textarea>
                        </div>
                          
                        <div class="form-group">
                            <select name="t_Duracion" class="form-control" required>
                                <option value="">Tiempo de duración ...</option>
                                <% for(var i = 0; i < tiemposDuracion.length; i++){ %>
                                <option value="<%=tiemposDuracion[i].nombre%>"><%=tiemposDuracion[i].nombre%></option>
                                <%}%>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <select name="n_Dificultad" class="form-control" required>
                                <option value="">Nivel de dificultad ...</option>
                                <% for(var i = 0; i < nivelesDificultad.length; i++){ %>
                                <option value="<%=nivelesDificultad[i].nombre%>"><%=nivelesDificultad[i].nombre%></option>
                                <%}%>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea name="material" cols="30" placeholder="Materiales del instrumento" class="form-control" required></textarea>
                        </div>
                        <div class="form-group">
                            <textarea name="reglas" cols="30" placeholder="Reglas" class="form-control" required></textarea>
                        </div>
                        <div class="form-group">
                            <textarea name="conceptos" cols="30" placeholder="Conceptos relacionados con el instrumento" class="form-control" required></textarea>
                        </div>
                        <div class="form-group">
                            <textarea name="numeroIntegrantes" cols="30" placeholder="Cantidad de participantes" class="form-control" required></textarea>
                        </div>
                                            
                        <% if(categorias.length != 0){ %>                        
                        <input type="submit" value="Crear Instrumento" class="btn btn-primary btn-block">
                        <% }else{ %>
                        <script type="text/javascript">
                            alert('ADVERTENCIA: No es posible crear el instrumento, porque no hay categorias existentes.');
                        </script>
                        <input type="submit" value="Crear Instrumento" class="btn btn-primary btn-block" disabled>                        
                        <% } %>
                    </form>
                </div>
            </div>
        </div>
        <!-- FORMULARIO NUEVO INSTRUMENTO -->
        <!-- POSIBLE LISTA DE INSTRUMENTOS -->
        <div class="col-md-7">
            <h2>Mis Instrumentos</h2>
            <table class="table table-bordered table-hover">   
                <thead>
                    <tr>
                        <th>
                            N°
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < instrumentos.length; i++) {%>
                        <tr>
                            <th>
                                <%= i+1 %>
                            </th>
                            <td title="<%=instrumentos[i]._id%>">
                                <%=instrumentos[i].nombre%>
                            </td>
                            <td>
                                <%=instrumentos[i].descripcion%>
                            </td>   
                            <td>
                                <form action="/editarInstrumento" method="POST">
                                    <input type="hidden" name="idInst" value="<%=instrumentos[i]._id%>">
                                    <input type="submit" value="Editar" class="btn btn-info">
                                </form>
                            </td>                         
                        </tr>
                    <% } %>
                </tbody>
            </table>                     
        </div>
        <!-- POSIBLE LISTA DE INSTRUMENTOS -->
    </div>
</div>

<%- include('partials/footer');%>